.nav {
    display: flex;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-image {
    max-width: 200px;
    height: auto;
}