.popup-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.popup-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.popup-container li{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.popup-container li:last-child {
    border-bottom: none;
}

.popup-container h4 {
    margin: 0;
}